/* Styles.css */
html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #6c6f7x;
}

h1, h2, h3, h4, h5 {
  color: #333;
}

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

img {
  max-width: 100%;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
}

#stage {
  background: url('img/cover.png') center center no-repeat;
  background-size: cover;
  color: yellow;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#stage-caption {
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

#stage-caption h1 {
  color: yellow;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}